@font-face {
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 500;
  src: url("../../public/fonts/LeagueSpartan-Medium.ttf") format("truetype");
  font-display: auto;
}

@font-face {
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 700;
  src: url("../../public/fonts/LeagueSpartan-Bold.ttf") format("truetype");
  font-display: auto;
}
