// screen sizes
$screen-mobile: 375px;
$screen-tablet: 768px;
$screen-desktop: 1440px;

$px-rem-ratio: 14;

// colors
$light-green: #effafa;
$light-grayish: #eef6f6;
$greenish: #5ba4a4;
$black: #000;
$white: #fff;
$dark-cyan: #296a6a;
$dark-grayish-cyan: #7b8e8e;
$dark-cyan: #2c3a3a;

// background colors
$color-bg: #effafa;
$color-bg-btn: #ececec;
$color-filter: #eef6f6;
$color-bg-page: #f3f6f9;

// fonts
$font-family: "League Spartan", sans-serif;
$font-size: 15px;

// sizes
$max-content-width: $screen-desktop;
