// screen sizes
$screen-mobile: 375px;
$screen-tablet: 768px;
$screen-desktop: 1440px;

$px-rem-ratio: 14;

// colors
$light-green: #effafa;
$greenish: #5ba4a4;
$black: #000;
$white: #fff;
$dark-grayish-cyan: #7b8e8e;

// background colors
$color-bg: #effafa;
$color-bg-btn: #e6ebeb;
$color-bg-page: #f3f6f9;

// fonts
$font-family: "League Spartan", sans-serif;

$font-size: 15px;
