// screen sizes
$screen-mobile: 375px;
$screen-tablet: 768px;
$screen-desktop: 1440px;

$px-rem-ratio: 14;

// colors
$blue: #065aff;
$green: #3ccd85;
$black: #000;
$white: #fff;
$dark-cyan: #296a6a;
$dark-grayish-cyan: #7b8e8e;
$dark-cyan: #2c3a3a;

// accent colors
$color-accent-primary: $blue;
$color-accent-primary-light: #ebf5ff;
$color-accent-secondary: $green;

// background colors
$color-bg: #effafa;
$color-filter-tablets: #eef6f6;
$color-bg-page: #f3f6f9;
$color-bg-block-primary: $white;
$color-bg-block-secondary: #f9fafb;
$color-bg-block-secondary-dark: #f3f4f6;
$color-bg-tooltip: #101828;
$color-bg-disabled: #f3f4f6;
$color-bg-error: #fff0f0;
$color-bg-success: #effff3;

// border colors
$color-border: #d0d5dd;
$color-border-light: #e5ebf2;
$color-border-accent-primary: $blue;
$color-border-error: #ea4335;
$color-border-success: #34a853;

// text colors
$color-text-primary: $black;
$color-text-primary-light: #4b5563;
$color-text-primary-lighter: #9ca3af;

$color-text-reverse-primary: $white;
$color-text-reverse-secondary: $white;

$color-text-accent-primary: $blue;

$color-text-disabled: #6b7280;
$color-text-error: #ea4335;
$color-text-success: #34a853;

// fonts
$font-family: "League Spartan", sans-serif;

$font-extra-small: #{px-to-rem(10)}/#{px-to-rem(12)} #{var(--font-family)};
$font-extra-small-bold: 500 #{px-to-rem(10)}/#{px-to-rem(12)} #{var(
    --font-family
  )};
$font-small: #{px-to-rem(12)}/#{px-to-rem(16)} #{var(--font-family)};
$font-small-bold: 500 #{px-to-rem(12)}/#{px-to-rem(16)} #{var(--font-family)};
$font-default: #{px-to-rem(14)}/#{px-to-rem(20)} #{var(--font-family)};
$font-default-bold: 500 #{px-to-rem(14)}/#{px-to-rem(20)} #{var(--font-family)};
$font-accent: #{px-to-rem(16)}/#{px-to-rem(24)} #{var(--font-family)};
$font-accent-bold: 500 #{px-to-rem(16)}/#{px-to-rem(24)} #{var(--font-family)};
$font-subtitle: 700 #{px-to-rem(21)}/#{px-to-rem(28)} #{var(--font-family)};
$font-title-3: 700 #{px-to-rem(24)}/#{px-to-rem(32)} #{var(--font-family)};
$font-title-2: 700 #{px-to-rem(28)}/#{px-to-rem(32)} #{var(--font-family)};
$font-title: 700 #{px-to-rem(32)}/#{px-to-rem(40)} #{var(--font-family)};

// sizes
$max-content-width: $screen-desktop;
$content-vertical-paddings: px-to-rem(40);
$content-horizontal-paddings: px-to-rem(40);

$content-vertical-paddings-mobile: px-to-rem(30);
$content-horizontal-paddings-mobile: px-to-rem(20);
